#summary-container {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 400px;
    background-color: #f9f9f9;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 18px;
}

#balance {
    font-weight: bold;
}

.green {
    color: green;
    font-weight: bold;
}

.red {
    color: red;
    font-weight: bold;
}